* {
    margin: 0;
    padding: 0;
}
.menu {
    background-color: #DFE6ED;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 30px;
}
#buttonTelaCadastro, #buttonTelaListagem{
    background-color: #4B5C6B;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#buttonTelaListagem{
    margin-left: 15px;
}
#titulo{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 250px;
}
.menu ul, li, p{
    display: inline-block;
}